ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    max-width: 20%;
}

ul.navbar > li {
    color: red;
}


/*Dropdown*/
 li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    min-width: 160px;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    border: 1px dotted black;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    background-color: white;
}
